.modal-backdrop{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
}

.modal-content{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    flex-direction: column;
    width: 100%;
    height: 700px;
    max-width: 400px;
}

.warning-title{
    color: #DA4416;
    font-size: 2em;
}

.modal-content p{
    color: white;
    text-align: center;
    width: 80%;
    font-weight: bold;
}

.modal-actions{
    display: flex;
    flex-direction: column;
}

.botao-cancelar{
    padding: 15px 30px;
    font-size: 1em;
    font-weight: bold;
    margin: 10px 0;
    color: white;
    border: none;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
}

.botao-cancelar:hover{
    background-color: rgb(20, 20, 20);
}

.botao-confirmar{
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: #89d510;
    cursor: pointer;
}

.botao-confirmar:hover{
    background-color: #94e90d;
}